body{
    background-color: #E1F5FE; /*lightblue:50*/
}

.navbar-toggler{
    color:black;
}

.navbar{
    height:40px;
    background-color: #EECE00; /*primary: 600*/
    min-width:min-content
}

.nav-link{
    color:black;
    font-size:25px;
    font-weight: 700;
}

.dropdown-menu{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-header{
    color:black;
    font-weight:600;
}

.dropdown-item{
    font-size:medium;
}

/*
.dropdown-divider{
    
}
*/
.dropdown-toggle::after {
    content: none;
}

.fa-ticket, .fa-user-circle, .fa-home{
    font-size: 33px;
    color:black;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none;
}

.fa-user-circle:hover, .fa-user-circle:active, .fa-ticket:hover, .fa-ticket:active, .fa-home:hover, .fa-home:active{
    color:#757575; /*gray 600*/
}

/*
.btn{
    text-transform: uppercase;
    font-weight: 700;
    padding: 6px 9px;
}
*/