.card{
    margin-top: 30px;
    background-color: #E0E0E0;  /* gray 300*/
    width: 800px;
    height: auto;
    padding:5px 5px 10px;
}

.card-title{
    font-weight:700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    padding: 3px 15px 3px;
}

.form-select{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-primary{
    background-color: #EECE00; /* primary 600 */ 
    border-color: #EECE00;
    color:black;
    
}

.btn-primary:hover, .btn-primary:active{
    background-color: #EDE008; /* primary 500 */ 
    border-color: #EDE008;
    color: black;
}

.btn-secondary{
    color:white;
    background-color: #9E9E9E;  /* gray 500*/
    border-color: #9E9E9E;
}

.btn-secondary:hover, .btn-secondary:active{
    background-color: #757575; /*primary 700*/
    border-color: #757575;
    color: white;
}



.form-control{
    font-size:large;
    font-weight: 400;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error{
    text-align: center;
    color: red;
    font-weight: 600;
}