{% extends "base.html" %}

{% block title %} Eventlist {% endblock %}

{% block content %}

<div class="text-center">
    <br>
    <a class="btn btn-secondary shadow-lg" href="/admin" role="button"> back to admin </a>
    <a class="btn btn-secondary shadow-lg" href="/add_event" role="button"> Add event </a>
</div>


<div class="card-wrapper admin-card-wrapper">

    <div class="card shadow mx-auto">
        <h2 class="card-title text-center mt-3"> Event List </h2>

        <!-- print out all events -->
        <div class="event-list fixTableHead">
            <table class="table table-hover event-table">
                <thead>
                    <tr>
                        <th> No. </th>
                        <th> Title </th>
                        <th> Time </th>
                        <th> Category </th>
                        <th> Action </th>
                    </tr>
                </thead>

                <tbody>
                    {% for events in events %}
                    <tr style="border: 10px, black;">
                        <td id="number-col"> {{ loop.index }} </td>
                        <td id="event-name-col">  {{ events["title"] }} </td>
                        <td id="event-email-col"> {{ events["time"] }} </td>
                        <td id="event-category-col"> {{ events["category"] }} </td>
                        <td>
                            <!-- buttons -->
                            <a href="/get_event/{{ events._id }}" class="btn btn-success"> Info </a>
                            <a href="/delete_event/{{ events.title }}" class="btn btn-danger"> Delete </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!--未來是希望可以變成彈跳小視窗就好 因為每按一次Member list就會重整-->
    <div class="card shadow mx-auto event-info">
        <h2 class="card-title text-center mt-3"> Event Information </h2>
        {% if event_info %}

        <p class="event-info py-6 ms-10">
            <strong> Event title: </strong> {{ event_info["title"] }}<br>
            <strong> Event category: </strong> {{ event_info["category"] }}<br>
            <strong> Event time: </strong> {{ event_info["time"] }}<br>
            <strong> Event ticket time: </strong> {{ event_info["ticket_time"] }}<br>
            <strong> Event ticket price: </strong> {{ event_info["ticket_price"] }}<br>
            <strong> Event ticket amount: </strong> {{ event_info["ticket_amount"] }}<br>
            <strong> Event description: </strong> {{ event_info["description"] }}<br>
            <strong> Event notices: </strong> {{ event_info["notices"] }}<br>

        </p>

        <div class="text-center">
            <a class="btn btn-success shadow-lg" href="/modify_event/{{ event_info._id }}" role="button"> Edit </a>
        </div>

        {% endif %}

    </div>

</div>
<br /><br /><br />

{% endblock %}