<!DOCTYPE html>
<html>
<head>
    <title>驗證成功</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // 顯示成功的提示消息
    Swal.fire({
        title: '驗證為本人',
        text: '購票成功',
        icon: 'success',
        confirmButtonText: '確定'
    }).then((result) => {
        if (result.isConfirmed) {
            // 按下了“確定”按钮
            window.location.href = "/";
        }
    });
});


</script>
