{% extends "base.html" %}

{% block title %} Update | FRSTP {% endblock %}

{% block content %}

<div class="card-wrapper">

  <!--div class="text-section">
    <p>這裡是您想要放在左側的文字。</p>
  </div-->

  <div class="card shadow mx-auto">

    <!--h1 class="center">修改會員資料</h1-->
    <h2 class="card-title text-center mt-3"> Edit Your Profile </h2>
    
    <form name="update_user_form" method="POST">
    
      <div class="form-group mt-0">
      <label for="name">Name</label>
        <input type="text" name="name" class="field form-control" value="{{ user.name }}" required>
      </div>
    
      <div class="form-group mt-3">
        <label for="email">Email</label>
        <input type="email" name="email" class="field form-control" value="{{ user.email }}" readonly>
      </div>
    
      <div class="form-group mt-3">
        <label for="password">Password</label>
        <input type="password" name="password" class="field form-control" placeholder="New Password" required>
      </div>

      <div class="form-group mt-3">
      <label for="password">Password Confirm</label>
      <input type="password" name="password_confirm" class="field form-control" placeholder="Confirm New Password" required>
      </div>

      <div class="form-group mt-3">
      <label for="phone">Phone</label>
      <input type="text" name="phone" class="field form-control" value="{{ user.phone }}" required>
      </div>

      <div class="form-group mt-3">
      <label for="address">Address</label>
      <input type="text" name="address" class="field form-control" value="{{ user.address }}" required>
      </div>

      <div class="form-group mt-3">
      <label for="gender">Gender</label>
      <select id="gender" name="gender">
        <option value="male" {% if user.gender =='male' %}selected{% endif %}>Male</option>
        <option value="female" {% if user.gender =='female' %}selected{% endif %}>Female</option>
        <option value="other" {% if user.gender =='other' %}selected{% endif %}>Other</option>
      </select>
      </div>

      <div class="form-group mt-3">
      <label for="birthday">Birthday</label>
      <input type="date" id="birthday" name="birthday" class="form-control" value="{{ user.birthday }}">
      </div>

      <p class="error error--hidden"></p>

      <div class="text-center mt-3 mb-0">
        <button type="submit" class="btn btn-primary edit-confirm shadow"> Edit </button>
        <!--button type="reset" class="btn btn-secondary mt-3"> Clear All </button-->
      </div>

      <!--input type="submit" value="修改" class="btn"-->
    </form>
  </div>
</div>

<br><br><br><br>

{% endblock %}